@use './styles/reset.css';
@use './styles/utils' as *;
@use './styles/sketch-info';
@use './styles/gallery';

:root {
    --bg: #0d0d0d;
    --bg-hsl: hsl(0, 0%, 5%);
    --text: #f5f2eb;
    --text-mid: #c8c4bb;
    --text-faded: #757575;
    --text-faded-less: #9d9c9c;
    --text-hsl: rgb(245, 242, 235);
    --primary: #34c2ff;
    --secondary: #ff934f;
    --primary-rgb: 52, 194, 255;
}

body {
    @include inconsolata();
    line-height: 1.4;
    font-size: 16px;
    font-weight: 400;
    background-color: var(--bg);
    color: var(--text);
}

a {
    // color: var(--primary);
    color: var(--text);
    // text-decoration: underline;
    text-decoration: none;
    // text-decoration-thickness: 2px;
    // text-underline-offset: 2px;
    // text-decoration-color: rgba(var(--primary-rgb), 0.3);
    // transition-property: text-decoration-color;
    // transition-timing-function: ease;
    // transition-duration: 300ms;

    &:hover,
    &:focus {
        // text-decoration-color: rgba(var(--primary-rgb), 1);
    }
}

h1,
h2,
.title-1 {
    font-weight: 600;
    font-size: 26px;
    line-height: 1.1;
}

main {
    position: relative;
    min-height: 100vh;
}

canvas.sketch {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    // z-index: -1;
    display: block;

    &--centered {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.lil-gui.lil-root > .lil-children > .lil-gui > .lil-children > .lil-gui > .lil-title {
    padding-left: calc(var(--folder-indent) * 0.5);
    border-left: 2px solid var(--widget-color);
}
