@use './styles/reset.css';
@use './styles/utils' as *;
@use './styles/sketch-info';
@use './styles/gallery';

:root {
    --bg: #131616;
    --bg-rgb: 19, 22, 22;
    --primary: #34c2ff;
    --secondary: #ff934f;
    --primary-rgb: 52, 194, 255;
}

body {
    @include inconsolata();
    line-height: 1.4;
    font-size: 14px;
    font-weight: 400;
    background-color: var(--bg);
    color: #fff;
}

a {
    color: var(--primary);
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 2px;
    text-decoration-color: rgba(var(--primary-rgb), 0.3);
    transition-property: text-decoration-color;
    transition-timing-function: ease;
    transition-duration: 300ms;

    &:hover,
    &:focus {
        text-decoration-color: rgba(var(--primary-rgb), 1);
    }
}

h1,
.title-1 {
    font-weight: 600;
    font-size: 26px;
    line-height: 1.1;
}

canvas.sketch {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
}

.lil-gui.lil-root > .lil-children > .lil-gui > .lil-children > .lil-gui > .lil-title {
    padding-left: calc(var(--folder-indent) * 0.5);
    border-left: 2px solid var(--widget-color);
}
// .lil-children .lil-children > .lil-gui > button.lil-title {
// }
